USE [master]
GO
/****** Object:  Database [QuanLyThuVien_K235480106023]    Script Date: 5/3/2026 7:21:01 AM ******/
CREATE DATABASE [QuanLyThuVien_K235480106023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien_K235480106023', FILENAME = N'D:\QTSQL\QuanLyThuVien_K235480106023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_K235480106023_log', FILENAME = N'D:\QTSQL\QuanLyThuVien_K235480106023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien_K235480106023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien_K235480106023]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoTinhTrangCacPhieuMuon]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyen Minh Hanh 
-- Create date: 
-- Description:	Bao cac tinh trang cac phieu muon 
-- =============================================
CREATE FUNCTION [dbo].[fn_BaoCaoTinhTrangCacPhieuMuon] ()
RETURNS @BaoCao TABLE (
    MaPhieu INT,
    MaDocGia INT,
    TinhTrang NVARCHAR(50),
    TienPhat MONEY
)
AS
BEGIN
    INSERT INTO @BaoCao (MaPhieu, MaDocGia, TinhTrang, TienPhat)
    SELECT MaPhieu, MaDocGia, N'Trong hạn', 0
    FROM [PhieuMuon];

    UPDATE @BaoCao
    SET 
        TinhTrang = N'Đã quá hạn',
        TienPhat = [dbo].[fn_TinhTienPhatQuaHan](pm.NgayTraDuKien, GETDATE())
    FROM @BaoCao b
    INNER JOIN [PhieuMuon] pm ON b.MaPhieu = pm.MaPhieu
    WHERE pm.NgayTraDuKien < GETDATE(); 

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTienPhatQuaHan]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTienPhatQuaHan] (
    @NgayTraDuKien DATETIME,
    @NgayTraThucTe DATETIME
)
RETURNS MONEY
AS
BEGIN
    DECLARE @TienPhat MONEY = 0;
    -- Tính số ngày trễ (nếu trả trước hoặc đúng hạn thì kết quả <= 0)
    DECLARE @SoNgayTre INT = DATEDIFF(DAY, @NgayTraDuKien, @NgayTraThucTe);
    
    IF @SoNgayTre > 0
        SET @TienPhat = @SoNgayTre * 5000; -- Phạt 5000đ cho mỗi ngày trễ
        
    RETURN @TienPhat;
END;
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[GiaBan] [money] NOT NULL,
	[DiemDanhGia] [float] NULL,
	[NamXuatBan] [int] NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayTraDuKien] [datetime] NOT NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LichSuMuonSachCuaDocGia]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyen Minh Hanh
-- Create date: 
-- Description:	Lich sử mượn sách 
-- =============================================
CREATE FUNCTION [dbo].[fn_LichSuMuonSachCuaDocGia] (
    @MaDocGia INT
)
RETURNS TABLE
AS
RETURN (
    SELECT 
        pm.MaPhieu, 
        s.TenSach, 
        pm.NgayMuon, 
        pm.NgayTraDuKien
    FROM [PhieuMuon] pm
    INNER JOIN [Sach] s ON pm.MaSach = s.MaSach
    WHERE pm.MaDocGia = @MaDocGia
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[HoTenDocGia] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[TienDatCoc] [money] NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DocGia] ON 

INSERT [dbo].[DocGia] ([MaDocGia], [HoTenDocGia], [NgaySinh], [TienDatCoc]) VALUES (1, N'Nguyễn Văn An', CAST(N'2000-01-15' AS Date), 326000.0000)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTenDocGia], [NgaySinh], [TienDatCoc]) VALUES (2, N'Trần Thị Bích', CAST(N'1999-05-20' AS Date), 100000.0000)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTenDocGia], [NgaySinh], [TienDatCoc]) VALUES (3, N'Lê Hoàng Cường', CAST(N'2001-11-02' AS Date), 0.0000)
SET IDENTITY_INSERT [dbo].[DocGia] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuMuon] ON 

INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien]) VALUES (1, 1, 3, CAST(N'2023-10-01T00:00:00.000' AS DateTime), CAST(N'2023-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien]) VALUES (2, 2, 5, CAST(N'2023-11-10T00:00:00.000' AS DateTime), CAST(N'2023-11-20T00:00:00.000' AS DateTime))
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien]) VALUES (3, 3, 1, CAST(N'2024-01-05T00:00:00.000' AS DateTime), CAST(N'2024-01-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhieuMuon] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [GiaBan], [DiemDanhGia], [NamXuatBan], [SoLuongTon]) VALUES (1, N'Đắc Nhân Tâm', 85000.0000, 9.5, 2018, 1)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [GiaBan], [DiemDanhGia], [NamXuatBan], [SoLuongTon]) VALUES (2, N'Nhà Giả Kim', 75000.0000, 9, 2019, 5)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [GiaBan], [DiemDanhGia], [NamXuatBan], [SoLuongTon]) VALUES (3, N'Tuổi Trẻ Đáng Giá Bao Nhiêu', 90000.0000, 8.5, 2020, 5)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((5)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_Sach]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_NgayTraHopLe] CHECK  (([NgayTraDuKien]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_NgayTraHopLe]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [CK_DiemDanhGia] CHECK  (([DiemDanhGia]>=(0) AND [DiemDanhGia]<=(10)))
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [CK_DiemDanhGia]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [CK_NamXuatBan] CHECK  (([NamXuatBan]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [CK_NamXuatBan]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTruyTimSachQuaHan]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyen Minh Hanh
-- Create date:
-- Description:	Báo cáo Truy Tìm Phạt Nguội & Ước tính thiệt hại
-- =============================================
CREATE PROCEDURE [dbo].[sp_BaoCaoTruyTimSachQuaHan]
AS
BEGIN
    SELECT 
        pm.MaPhieu,
        dg.HoTenDocGia,
        s.TenSach,
        pm.NgayTraDuKien,
        DATEDIFF(DAY, pm.NgayTraDuKien, GETDATE()) AS SoNgayTreHan,
        DATEDIFF(DAY, pm.NgayTraDuKien, GETDATE()) * 5000 AS UocTinhTienPhat,
        IIF(DATEDIFF(DAY, pm.NgayTraDuKien, GETDATE()) > 30, N'Rủi ro mất sách', N'Gọi điện nhắc nhở') AS HanhDongDeXuat
    FROM [PhieuMuon] pm
    INNER JOIN [DocGia] dg ON pm.MaDocGia = dg.MaDocGia
    INNER JOIN [Sach] s ON pm.MaSach = s.MaSach
    WHERE pm.NgayTraDuKien < GETDATE()
    ORDER BY SoNgayTreHan DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuMuonKiemDuyet]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		Nguyen Minh Hanh
-- Create date: <Create Date,,>
-- Description:	Kiem duyet muon sach

CREATE PROCEDURE [dbo].[sp_TaoPhieuMuonKiemDuyet]
    @MaDocGia INT,
    @MaSach INT,
    @SoNgayMuon INT
AS
BEGIN
    DECLARE @TienCoc MONEY;
    DECLARE @GiaSach MONEY;
    DECLARE @DangNoQuaHan INT;

    -- 1. Lấy thông tin tiền cọc và giá sách
    SELECT @TienCoc = TienDatCoc FROM [DocGia] WHERE MaDocGia = @MaDocGia;
    SELECT @GiaSach = GiaBan FROM [Sach] WHERE MaSach = @MaSach;

    -- 2. Kiểm tra xem độc giả có đang giữ sách nào quá hạn không
    SELECT @DangNoQuaHan = COUNT(*) 
    FROM [PhieuMuon] 
    WHERE MaDocGia = @MaDocGia AND NgayTraDuKien < GETDATE();

    IF @DangNoQuaHan > 0
    BEGIN
        PRINT N'TỪ CHỐI: Độc giả đang có sách quá hạn chưa trả. Vui lòng trả sách trước khi mượn mới!';
        RETURN;
    END

    IF @GiaSach > @TienCoc
    BEGIN
        PRINT N'TỪ CHỐI: Sách này có giá trị (' + CAST(@GiaSach AS NVARCHAR) + N') cao hơn tiền đặt cọc (' + CAST(@TienCoc AS NVARCHAR) + N'). Yêu cầu nạp thêm cọc!';
        RETURN;
    END

    DECLARE @NgayTra DATETIME = DATEADD(DAY, @SoNgayMuon, GETDATE());
    INSERT INTO [PhieuMuon] (MaDocGia, MaSach, NgayMuon, NgayTraDuKien)
    VALUES (@MaDocGia, @MaSach, GETDATE(), @NgayTra);

    PRINT N'THÀNH CÔNG: Đã duyệt và tạo phiếu mượn!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhHanMucMuonConLai]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyen Minh Hanh
-- Create date: <Create Date,,>
-- Description:	Tinh han muoc muon sach con lai
-- =============================================
CREATE PROCEDURE [dbo].[sp_TinhHanMucMuonConLai]
    @MaDocGia INT,
    @SoSachDuocMuonThem INT OUTPUT -- Biến đầu ra chứa kết quả
AS
BEGIN
    DECLARE @TienCoc MONEY = 0;
    DECLARE @SoSachDangMuon INT = 0;
    DECLARE @TongHanMuc INT = 0;
    SELECT @TienCoc = ISNULL(TienDatCoc, 0) FROM [DocGia] WHERE MaDocGia = @MaDocGia;
    SELECT @SoSachDangMuon = COUNT(*) FROM [PhieuMuon] WHERE MaDocGia = @MaDocGia;
    SET @TongHanMuc = CAST((@TienCoc / 50000) AS INT);
    SET @SoSachDuocMuonThem = @TongHanMuc - @SoSachDangMuon;
    IF @SoSachDuocMuonThem < 0 
        SET @SoSachDuocMuonThem = 0;
END;
GO
/****** Object:  Trigger [dbo].[trg_DocGia_CapNhat_PhieuMuon]    Script Date: 5/3/2026 7:21:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger 2: Khi cập nhật Độc Giả -> Cập nhật Phiếu Mượn
CREATE TRIGGER [dbo].[trg_DocGia_CapNhat_PhieuMuon]
ON [dbo].[DocGia]
AFTER UPDATE
AS
BEGIN
    PRINT N'Trigger trên DocGia đang chạy... tiến hành cập nhật PhieuMuon';
    
    -- Gia hạn thêm 1 ngày cho phiếu mượn của độc giả vừa được cập nhật tiền cọc
    UPDATE p
    SET p.NgayTraDuKien = DATEADD(DAY, 1, p.NgayTraDuKien)
    FROM [PhieuMuon] p
    INNER JOIN inserted i ON p.MaDocGia = i.MaDocGia;
END;
GO
ALTER TABLE [dbo].[DocGia] DISABLE TRIGGER [trg_DocGia_CapNhat_PhieuMuon]
GO
/****** Object:  Trigger [dbo].[trg_MuonSach_TruTonKho]    Script Date: 5/3/2026 7:21:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyen Minh Hanh 
-- Create date:
-- Description:	QuanLyTonKhosachTuDong 
-- =============================================
CREATE TRIGGER [dbo].[trg_MuonSach_TruTonKho]
ON [dbo].[PhieuMuon]
AFTER INSERT -- Kích hoạt sau khi có lệnh INSERT vào bảng PhieuMuon (Bảng A)
AS
BEGIN
    DECLARE @MaSachVuaMuon INT;
    DECLARE @SoLuongHienTai INT;

    -- Lấy MaSach từ bảng ảo 'inserted' (chứa dữ liệu vừa được thêm vào)
    SELECT @MaSachVuaMuon = MaSach FROM inserted;

    -- Lấy số lượng tồn kho hiện tại của cuốn sách đó (Bảng B)
    SELECT @SoLuongHienTai = SoLuongTon FROM [Sach] WHERE MaSach = @MaSachVuaMuon;

    -- Kiểm tra logic nghiệp vụ
    IF @SoLuongHienTai <= 0
    BEGIN
        -- Báo lỗi và ROLLBACK (Hủy bỏ toàn bộ lệnh INSERT phiếu mượn ban đầu)
        RAISERROR(N'LỖI: Cuốn sách này đã hết trong kho. Không thể cho mượn!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
    ELSE
    BEGIN
        -- Nếu còn sách, tiến hành cập nhật giảm 1 cuốn ở bảng Sach
        UPDATE [Sach]
        SET SoLuongTon = SoLuongTon - 1
        WHERE MaSach = @MaSachVuaMuon;
        
        PRINT N'HỆ THỐNG: Đã tự động trừ 1 cuốn sách trong kho!';
    END
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_MuonSach_TruTonKho]
GO
/****** Object:  Trigger [dbo].[trg_PhieuMuon_CapNhat_DocGia]    Script Date: 5/3/2026 7:21:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyen Minh Hanh
-- Create date: 
-- Description:	Update phieu muon
-- =============================================
CREATE TRIGGER [dbo].[trg_PhieuMuon_CapNhat_DocGia]
ON [dbo].[PhieuMuon]
AFTER UPDATE
AS
BEGIN
    PRINT N'Trigger trên PhieuMuon đang chạy... tiến hành cập nhật DocGia';
    
    -- Thưởng 100đ tiền cọc cho độc giả có phiếu mượn vừa được cập nhật
    UPDATE d
    SET d.TienDatCoc = d.TienDatCoc + 100
    FROM [DocGia] d
    INNER JOIN inserted i ON d.MaDocGia = i.MaDocGia;
END;
GO
ALTER TABLE [dbo].[PhieuMuon] DISABLE TRIGGER [trg_PhieuMuon_CapNhat_DocGia]
GO
USE [master]
GO
